<div class="square">
    <div class="square_wrapper">
        <div class="square_item">
            <div class="square_item_inside"><i class="far fa-list-alt"></i></div>
        </div>
        <div class="square_item">
            <div class="square_item_inside"><i class="fas fa-user"></i></div>
        </div>
        <div class="square_item">
            <div class="square_item_inside"><i class="fas fa-plus"></i></div>
        </div>
        <div class="square_item">
            <div class="square_item_inside"><i class="fas fa-pencil-alt"></i></div>
        </div>
        <div class="square_item">
            <div class="square_item-center"><i class="fas fa-sign-in-alt"></i></div>
        </div>
    </div>
</div> 